<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtS2psFKXlwAItZhwplVgn49dgMDWuxCI</string>
	<key>GCM_SENDER_ID</key>
	<string>584810666547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.erikschnell.Zueri</string>
	<key>PROJECT_ID</key>
	<string>zueribackend</string>
	<key>STORAGE_BUCKET</key>
	<string>zueribackend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584810666547:ios:8aa8cd023cc45c4338e146</string>
</dict>
</plist>